host, serial_number
{% for host in play_hosts %}
{% if ping_result.rc == 0 %}
{% if hostvars[host]['ansible_net_stacked_serialnums'] is defined %}
{% for serial_number in hostvars[host]['ansible_net_stacked_serialnums'] %}
{{ host }},{{ serial_number }}
{% endfor %}

--------------------------------------------------------------------
{% else %}
{{ host }},{{ hostvars[host]['ansible_net_serialnum'] }}

--------------------------------------------------------------------
{% endif %}
{% else %}
{{ host }},Host Offline

--------------------------------------------------------------------

{% endif %}
{% endfor %}