{% if ping_result.rc == 0 %}
{% for host in play_hosts %}
{{ host }} report:
Serial Number: {{ ansible_net_serialnum }}

--------------------------------------------------------------------

{% endfor %}
{% else %}

{% for host in play_hosts %}
{{ host }} report:
Serial Number: Host Offline

--------------------------------------------------------------------

{% endfor %}
{% endif %}