{% if ping_result == 0 %}
{% for host in play_hosts %}
{{ host }} report:
Code version: {{ ansible_net_serialnum }}

--------------------------------------------------------------------

{% endfor %}
{% endif %}
{% elseif %}
{% for host in play_hosts %}
{{ host }} report:
Code version: Host Offline

--------------------------------------------------------------------

{% endfor %}
{% endif %}