{% for host in play_hosts %}
{% if ping_result.rc == 0 %}
{% if ansible_net_stacked_serialnums is defined %}
{% for serial_number in ansible_net_stacked_serialnums %}
{{ host }}:
Serial Number: {{ serial_number }}
{% endfor %}

--------------------------------------------------------------------
{% else %}
{{ host }}:
Serial Number: {{ ansible_net_serialnum }}

--------------------------------------------------------------------
{% endif %}
{% else %}
{{ host }}:
Serial Number: Host Offline

--------------------------------------------------------------------

{% endif %}
{% endfor %}
