{% for host in play_hosts %}
{% if ping_result.rc == 0 %}
{% if hostvars[host]['ansible_net_stacked_serialnums'] is defined %}
{{ host }}:
{% for serial_number in hostvars[host]['ansible_net_stacked_serialnums'] %}
Serial Number: {{ serial_number }}
{% endfor %}

--------------------------------------------------------------------
{% else %}
{{ host }}:
Serial Number: {{ hostvars[host]['ansible_net_serialnum'] }}

--------------------------------------------------------------------
{% endif %}
{% else %}
{{ host }}:
Serial Number: Host Offline

--------------------------------------------------------------------

{% endif %}
{% endfor %}
